

#scatter_plot{
    margin-left: 20px;
}

#radial{
	border: none;
    margin-left: 180px;
}

h1 {
    font-weight: 900;
}

body {
    background-color: white;
}

.page {
	width: 850px;
	height: 1650px;
	background-color: lightgray;
	margin: auto;
	padding: 50px;
	padding-top: 40px;
	padding-bottom: 970px;	
	border: 1px solid #000;
	border-radius: 50px;
  }

.vis-container {
    width: 100%;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 40px;
    border: 1px solid #000;
    padding: 70px;
	border-radius: 50px;
    background-color: white;
}

.small-font {
    font-size: 14px;
}